<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866124882645-3qjdsbj3o9rucsrd46d5m0tin027me88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866124882645-3qjdsbj3o9rucsrd46d5m0tin027me88</string>
	<key>API_KEY</key>
	<string>AIzaSyATAm4NyaeyQYndopZObZc9nbz-Fwqz0Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>866124882645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ephedra-software.StackOv</string>
	<key>PROJECT_ID</key>
	<string>stackov-42941</string>
	<key>STORAGE_BUCKET</key>
	<string>stackov-42941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866124882645:ios:0e4a8b7f6913e0dbf0385c</string>
</dict>
</plist>